.jumbotron {
  background-image: url("assets/ian-dooley-280928-unsplash.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  color: solid black;
  text-shadow: 2px 2px 4px white;
  font-family: "Lora", serif;
}

.card {
  margin-top: 20px;
  margin-bottom: 30px;
  background: lightgray;
}

#card-2 {
  float: right;
}

body {
  background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #274046,
    #e6dada
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #274046,
    #e6dada
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
}

.card {
  box-shadow: 0 0 5px rgba(1, 1, 1, 2);
}

#more,
#more-2,
#more-3,
#more-4,
#more-5,
#more-6 {
  display: none;
}

@media screen and (max-width: 640px) {
  #card-2 {
    float: none;
  }
}

@media screen and (max-width: 768px) {
  #card-2 {
    float: none;
  }
}
@media screen and (max-width: 992px) {
  #card-2 {
    float: none;
  }
}

footer {
  background-color: rgb(54, 54, 54);
  padding: 30px;
  text-align: center;
  margin-top: 40px;
  color: white;
}

#header-0, #header-1, #header-2, #header-3, #header-4, #header-5{

  margin-left: 90px;
  font-size: 20px;
 }
 
 #summary-0, #summary-1, #summary-2, #summary-3, #summary-4, #summary-5{
 
 
  color: black;
 }

 #sizeDefault{

    width: 450px;
 }
